body {
    margin: 0;
    padding: 0;
    background-color: rgb(212, 219, 217);
    font-family: 'Poiret One', cursive;
    /*
    display: table;
    width: 100%;
    height: 100%;
*/
}

.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.site_content {
    flex: 1;
}

p {
    margin: 0;
    padding 0;
}

div.indhold {
    max-width: 85wv;
}

.none {
    visibility: hidden;
}

/*menu*/

.filler {
    height: 0vw;
}

.filler2 {
    height: 0vw;
}

.menu_alt {
    visibility: hidden;
    height: 0;
}


.menu_indhold {
    max-width: 85vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a.menu {
    font-weight: 200;
    font-size: 1.2em;
    border-bottom: 0.5px solid transparent;
}

.padding {
    margin-left: 60px;
}

a.menu:hover {
    border-color: rgb(218, 163, 158);
}

a.navn {
    font-size: 2.5em;
    font-weight: 900;
    margin-left: 5vw;
}

a {
    text-decoration: none;
    color: rgb(48, 48, 48);
    font-family: 'Poiret One', cursive;
    font-size: 1.2em;
    line-height: 1.7;
}

.active {
    color: rgb(218, 163, 158);
}

/*baggrund*/

.baggrund {
    visibility: hidden;
    /*    height: 0;*/
}

/*
.lag {
    background-color: #294a41;
    width: 100vw;
    height: 56.6vw;
    position: fixed;
    z-index: -3;
    top: 0vw;
}

.lag1 {
    background-size: 100.7%;
    background-image: url(assets/home_lag1.png);
    width: 100vw;
    height: 56.6vw;
    top: 0vw;
    position: fixed;
    z-index: -2;
}

.lag2 {
    background-size: 100%;
    background-image: url(assets/home_lag2.png);
    width: 100vw;
    height: 56.7vw;
    top: 0vw;
    position: absolute;
    z-index: -1;
}
*/

/*hamburgermenu*/

.menubutton {
    width: 2em;
    height: 2em;

    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;

    position: relative;
    z-index: 10;
    right: -89vw;
    top: 3vw;
}

.bar {
    width: 2em;
    height: 0.2em;
    background-color: rgb(218, 163, 158);
    transition: transform .5s;
}

.hidden {

    /*    display: none;*/
    transform: translateY(-200px);
}

nav {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.87);
    width: 53%;
    transform: translateY(1);
    transform-origin: top;

    transition: transform .5s;
    position: absolute;
    right: 0;
}

.kryds .bar1 {
    transform: rotate(45deg) translate(8px, 7px);
}

.kryds .bar2 {
    visibility: hidden;
}

.kryds .bar3 {
    transform: rotate(-45deg) translate(8px, -7px);
}

header {
    background-color: white;
    height: 25vw;
    position: sticky;
    top: 0;
    z-index: 50;
}

/*home*/

.indhold_hvidboks {
    background-color: white;
    width: 100%;
}

.indhold {
    max-width: 85vw;
    margin: 0 auto;
}

.imi_billede {
    max-width: 650px;
    height: 827px;
    background-color: aqua;
}

li {
    color: rgb(48, 48, 48);
}

/*portfolio*/

.hexagon {
    width: 74vw;
    height: 37vw;
    background: red;
    transform: rotate(120deg);
    overflow: hidden;
    visibility: hidden;
}

.hexagon_inside {
    width: 100%;
    height: 100%;
    background: green;
    transform: rotate(-60deg);
    overflow: hidden;
}

.hexagon_image {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: 100%;
    transform: rotate(-60deg);
    visibility: visible;
}

.hexagon_graa {
    width: 100%;
    height: 100%;
    background: rgba(48, 48, 48, 0.75);
    transform: rotate(-60deg);
    visibility: visible;
}

.hexagoner {
    display: flex;
    max-width: 90vw;
    margin: 0 auto;
}

.tekstboks {
    background-color: rgba(218, 163, 158, 0.83);
    width: 84vw;
    height: 15vw;
    z-index: 10;
    position: absolute;
}


.hexagon1 {
    position: absolute;
    top: 32vw;
    left: -5vw;
}

.billede1 {
    background-image: url(assets/stilart_graa.jpg);
}

#tekstboks1 {
    top: 70vw;
    left: 8vw;
}

.hexagon2 {
    position: absolute;
    top: 53vw;
    left: 30vw;
}

.billede2 {
    background-image: url(assets/redesign_graa.jpg);
}

#tekstboks2 {
    top: 91.4vw;
    left: 8vw;
}

.hexagon3 {
    position: absolute;
    top: 73vw;
    left: -5vw;
}

.billede3 {
    background-image: url(assets/animation_graa.jpg);
}

#tekstboks3 {
    top: 111.1vw;
    left: 8vw;
}

.hexagon4 {
    position: absolute;
    top: 93vw;
    left: 30vw;
}

.billede4 {
    background-image: url(assets/sexogsamfund_graa.jpg);
}

#tekstboks4 {
    top: 131.2vw;
    left: 8vw;
}

.hexagon5 {
    position: absolute;
    top: 113vw;
    left: -5vw;
}

.billede5 {
    background-image: url(assets/keaapp_graa.jpg);
}

#tekstboks5 {
    top: 151.2vw;
    left: 8vw;
}


.hexagon6 {
    position: absolute;
    top: 133vw;
    left: 30vw;
}

.billede6 {
    background-image: url(assets/joeapp_graa.jpg);
}

#tekstboks6 {
    top: 171vw;
    left: 8vw;
}

.hovertext {
    margin: 0 auto;
    padding: 10vw;
    max-width: 16vw;
    position: relative;
    z-index: 100;
    top: -4vw;
    right: -1vw;
    color: transparent;
}

.filler3 {
    height: 80vw;
}

.filler4 {
    height: 85vw;
}

.closebutton {
    width: 1.8em;
    height: 1.8em;
    position: absolute;
    z-index: 50;
    top: 0.8vw;
    right: 0.8vw;
    /*    background-color: red;*/
}

.stroke {
    width: 1.5em;
    height: 0.1em;
    background-color: rgb(48, 48, 48);
}

.stroke1 {
    transform: translate(5px, 14px) rotate(45deg);
}

.stroke2 {
    /*    transform: rotate(-45deg) translate(0px);*/
    transform: translate(5px, 12px) rotate(-45deg);
}

/*footer*/

footer {
    max-width: 85vw;
    background-color: rgb(48, 48, 48);
    margin: 0 auto;
    /*
    display: table-row;
    height: 0;
*/
}

.footer {
    width: 100%;
    background-color: rgb(48, 48, 48);
    padding: 2vw 0;
    color: rgb(218, 163, 158);
    /*
    position: relative;
    bottom: 0;
*/
}



/*media queries*/

/*mobile landscape*/

@media only screen and (min-width: 594px) and (orientation: landscape) {
    /*menu*/
    .filler {
        height: 0vw;
    }

    .menu_alt {
        background-color: rgb(255, 255, 255);
        position: sticky;
        width: 100%;
        z-index: 20;
        top: 0;
        padding-bottom: 1vw;
        padding-top: 0.6vw;
        visibility: visible;
        height: auto;
    }

    .filler2 {
        height: 56vw;
    }

    a.navn {
        margin-left: 0vw;
        font-size: 1.8em;
        font-weight: 900;
    }
    .active {
        font-weight: 900;
        font-size: 1.2em;
        margin-left: 60px;
        border-bottom: 0.5px solid transparent;
    }
    /*menu slut*/
    /*baggrund*/
    .baggrund {
        visibility: visible;
    }

    .lag {
        background-color: #294a41;
        width: 100vw;
        height: 56.6vw;
        position: fixed;
        z-index: -3;
        top: 0vw;
    }

    .lag1 {
        background-size: 100.7%;
        background-image: url(assets/home_lag1.png);
        width: 100vw;
        height: 56.6vw;
        top: 0vw;
        position: fixed;
        z-index: -2;
    }

    .lag2 {
        background-size: 100%;
        background-image: url(assets/home_lag2.png);
        width: 100vw;
        height: 56.7vw;
        top: 0vw;
        position: absolute;
        z-index: -1;
    }

    .imi_billede {
        height: 0px;
        visibility: hidden;
    }
    /*baggrund slut*/
    /*hamburgermenu*/
    header {
        visibility: hidden;
        height: 0;
    }
    /*hamburgermenu slut*/
    /*portfolio*/
    .hexagon {
        width: 40vw;
        height: 20vw;
    }

    .hexagon1 {
        position: absolute;
        top: 12vw;
        left: 20vw;
        z-index: 3;
    }

    #tekstboks1 {
        top: 33vw;
        left: 8vw;
    }

    .hexagon2 {
        position: absolute;
        top: 23vw;
        left: 39vw;
        z-index: 3;
    }

    #tekstboks2 {
        top: 44vw;
        left: 8vw;
    }

    .hexagon3 {
        position: absolute;
        top: 34vw;
        left: 20vw;
    }

    #tekstboks3 {
        top: 55vw;
        left: 8vw;
    }

    .hexagon4 {
        position: absolute;
        top: 45vw;
        left: 1vw;
    }

    #tekstboks4 {
        top: 66vw;
        left: 8vw;
    }

    .hexagon5 {
        position: absolute;
        top: 45vw;
        left: 39vw;
    }

    #tekstboks5 {
        top: 66vw;
        left: 8vw;
    }

    .hexagon6 {
        position: absolute;
        top: 34vw;
        left: 58vw;
    }

    #tekstboks6 {
        top: 55vw;
        left: 8vw;
    }

    .filler3 {
        height: 0vw;
    }

    .filler4 {
        height: 74vw;
    }
    /*portfolio slut*/
}

/*tablet portrait*/

@media only screen and (min-width: 594px) and (orientation: portrait) {
    /*menu*/
    .filler {
        height: 6vw;
    }

    .menu_alt {
        background-color: rgb(255, 255, 255);
        position: sticky;
        width: 100%;
        z-index: 20;
        top: 0;
        padding-bottom: 1vw;
        padding-top: 0.6vw;
        visibility: visible;
        height: auto;
    }

    .filler2 {
        height: 56vw;
    }

    a.navn {
        font-size: 2.5em;
        font-weight: 900;
        margin-left: 0vw;
    }
    /*menu slut*/
    /*baggrund*/
    .baggrund {
        visibility: visible;
    }

    .lag {
        background-color: #294a41;
        width: 100vw;
        height: 56.6vw;
        position: fixed;
        z-index: -3;
        top: 0vw;
    }

    .lag1 {
        background-size: 100.7%;
        background-image: url(assets/home_lag1.png);
        width: 100vw;
        height: 56.6vw;
        top: 0vw;
        position: fixed;
        z-index: -2;
    }

    .lag2 {
        background-size: 100%;
        background-image: url(assets/home_lag2.png);
        width: 100vw;
        height: 56.7vw;
        top: 0vw;
        position: absolute;
        z-index: -1;
    }
    .imi_billede {
        height: 0px;
        visibility: hidden;
    }

    /*baggrund slut*/
    /*hamburgermenu*/
    header {
        visibility: hidden;
        height: 0;
    }

    /*hamburgermenu slut*/
    /*portfolio*/
    .hexagon {
        width: 46vw;
        height: 23vw;
    }

    .hexagon1 {
        position: absolute;
        top: 25vw;
        left: 25vw;
        z-index: 3;
    }

    #tekstboks1 {
        top: 100vw;
        left: 8vw;
    }

    .hexagon2 {
        position: absolute;
        top: 38vw;
        left: 47vw;
        z-index: 3;
    }

    #tekstboks2 {
        top: 100vw;
        left: 8vw;
    }

    .hexagon3 {
        position: absolute;
        top: 50vw;
        left: 25vw;
    }

    #tekstboks3 {
        top: 100vw;
        left: 8vw;
    }

    .hexagon4 {
        position: absolute;
        top: 62.5vw;
        left: 3vw;
    }

    #tekstboks4 {
        top: 100vw;
        left: 8vw;
    }

    .hexagon5 {
        position: absolute;
        top: 63vw;
        left: 47vw;
    }

    #tekstboks5 {
        top: 100vw;
        left: 8vw;
    }

    .hexagon6 {
        position: absolute;
        top: 75vw;
        left: 25vw;
    }

    #tekstboks6 {
        top: 100vw;
        left: 8vw;
    }

    .filler3 {
        height: 50vw;
    }

    .filler4 {
        height: 10vw;
    }
    /*portfolio slut*/
}

/*tablet landscape*/

@media only screen and (min-width: 1024px) and (orientation: landscape) {

    /*menu*/
    .menu_alt {
        padding-bottom: 0vw;
        padding-top: 0vw;
    }
    .filler {
        height: 5vw;
        background-color: transparent;
    }

    a.navn {
        font-size: 2.5em;
        font-weight: 900;
    }

    .filler2 {
        height: 48vw;
    }

    /*menu slut*/
    /*portfolio*/
    .hexagon1 {
        position: absolute;
        top: 14vw;
        left: 20vw;
        z-index: 3;
    }

    #tekstboks1 {
        top: 35vw;
        left: 8vw;
    }

    .hexagon2 {
        position: absolute;
        top: 25vw;
        left: 39vw;
        z-index: 3;
    }

    #tekstboks2 {
        top: 46vw;
        left: 8vw;
    }

    .hexagon3 {
        position: absolute;
        top: 36vw;
        left: 20vw;
    }

    #tekstboks3 {
        top: 57vw;
        left: 8vw;
    }

    .hexagon4 {
        position: absolute;
        top: 47vw;
        left: 1vw;
    }

    #tekstboks4 {
        top: 68vw;
        left: 8vw;
    }

    .hexagon5 {
        position: absolute;
        top: 47vw;
        left: 39vw;
    }

    #tekstboks5 {
        top: 68vw;
        left: 8vw;
    }

    .hexagon6 {
        position: absolute;
        top: 36vw;
        left: 58vw;
    }

    #tekstboks6 {
        top: 57vw;
        left: 8vw;
    }
    .filler4 {
        height: 80vw;
    }
    /*portfolio slut*/
}

/*desktop*/

@media only screen and (min-width: 1100px) {

    /*menu*/
    .filler {
        height: 6vw;
    }

    .menu_alt {
        padding-bottom: 0vw;
        padding-top: 0vw;
    }


    .filler2 {
        height: 48vw;
    }
    /*menu slut*/
    /*baggrund*/
    .lag {
        background-color: #294a41;
        width: 100vw;
        height: 56.6vw;
        position: fixed;
        z-index: -3;
        top: 0vw;
    }

    .lag1 {
        background-size: 100.7%;
        background-image: url(assets/home_lag1.png);
        width: 100vw;
        height: 56.6vw;
        top: 0vw;
        position: fixed;
        z-index: -2;
    }

    .lag2 {
        background-size: 100%;
        background-image: url(assets/home_lag2.png);
        width: 100vw;
        height: 56.7vw;
        top: 4vw;
        position: absolute;
        z-index: -1;
    }

    /*baggrund slut*/
    /*portfolio*/
    .billede1:hover {
        background-image: url(assets/stilart_pink.jpg);
    }

    .billede2:hover {
        background-image: url(assets/redesign_pink.jpg);
    }

    .billede3:hover {
        background-image: url(assets/animation_pink.jpg);
    }

    .billede4:hover {
        background-image: url(assets/sexogsamfund_pink.jpg);
    }

    .billede5:hover {
        background-image: url(assets/keaapp_pink.jpg);
    }

    .billede6:hover {
        background-image: url(assets/joeapp_pink.jpg);
    }

    .hovertext:hover {
        color: white;
    }

    .hexagon_graa {
        visibility: hidden;
    }
    .tekstboks {
        visibility: hidden;
        height: 0vw;
    }

    .filler4 {
        height: 65vw;
    }
    /*portfolio slut*/
}
